<h1>Add a Category</h1>

<form action="/categories" method="post">
	<label for="name">Category Name</label>
	<input type="text" name="name" class="form-control">
	<button type="submit" class="btn btn-success">Add Category</button>
</form>