<h1>Welcome to the  Todo List Application</h1>
<a href="/tasks/new">Add a new Task</a>
<a href="/tasks">View All current Tasks</a>

<a href="/categories">View Category List</a>
<a href="/categories/new">Add a New Category</a>